main {
	/* min-height: 85vh; */
}

.carousel-indicators {
	display: none;
}

.carousel-control-prev,
.carousel-control-next {
	background-color: black;
}

.carousel-control-prev {
	border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.carousel-control-next {
	border-radius: 0rem 0.5rem 0.5rem 0rem;
}
